@import url("/home/USER/.cache/wal/colors-waybar.css");

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background: @background;
  color: @foreground;
  opacity: 0.92;
}

#workspaces button {
  color: @color8;
  padding: 0 6px;
  background: transparent;
}

#workspaces button.active { color: @foreground; }

#clock, #network, #pulseaudio, #battery {
  color: @foreground;
  padding: 0 10px;
}
